/* ------- Estilos Generales -------- */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #d1defa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.layout {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "content content content lateral"
    "footer footer footer footer";
  grid-template-rows: 100px 70px auto 70px;
}

/* ------- Estilos Cabecera -------- */
.header {
  grid-area: header;
  background: #fff;
  text-align: left;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
  width: 40px;
  height: 40px;
  border-radius: 300px;
  margin-right: 10px;
}

.play {
  width: 0;
  height: 0;
  margin-top: 13px;
  margin-left: 16px;
  border-left: 14px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

/* ------- Estilos Navegacion -------- */
.nav {
  grid-area: nav;
  background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > ul {
  display: flex;
  list-style: none;
}

.nav li {
  padding: 10px;
}

.nav a {
  display: block;
  margin: 0 30px;
  font-size: 18px;
  font-weight: 100;
  font-style: normal;
  color: #fff;
  text-decoration: none;
  transition: all 300ms;
}

.nav a:hover {
  transform: scale(1.1, 1.1);
}

/* ------- Estilos Contenido -------- */
.content {
  grid-area: content;
  background: #f6f7f9;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-pelis {
  font-size: 20px;
  font-weight: 300;
  color: #444;
}

.peli-item {
  flex-grow: 1;
  margin: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
  padding: 60px 25px;
}

.peli-item p {
  margin-top: 10px;
  margin-bottom: 30px;
}

button,
input[type="submit"],
input[type="button"] {
  width: 100px;
  background: #0b70e1;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
}

.peli-item .edit {
  margin-right: 7px;
}

.peli-item .edit:hover {
  background: #ffc733;
  color: #333;
}

.peli-item .delete:hover {
  background: #fd766a;
  color: #333;
}

/* ------- Estilos Barra Lateral -------- */
.lateral {
  grid-area: lateral;
  background: #f6f7f9;
  border-left: 1px solid #ddd;
  padding: 20px;
}

.lateral > div {
  box-sizing: border-box;
  width: 90%;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
}

.lateral input[type="text"],
.lateral textarea,
.edit_form input[type="text"],
.edit_form textarea {
  display: block;
  margin: 15px auto;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 80%;
  opacity: 4;
  outline: none;
  border-color: transparent;
}

.edit_form {
  margin-top: 20px;
}

.description {
  width: 300px;
  margin: 0 auto;
}

/* ------- Estilos del Pie de Pagina -------- */
.footer {
  grid-area: footer;
  background: #d1defa;
  color: #454545;
  border-top: 1px solid #fff;
  text-align: left;
  line-height: 90px;
  padding-left: 25px;
}

.footer a {
  color: #0b468a;
  text-decoration: none;
}

@media (max-width: 1085px) {
  .content {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
  }

  .peli-item {
    width: 80%;
  }

  .lateral > div {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
  }

  .lateral input[type="text"],
  .lateral textarea {
    width: 80%;
  }
}
